.main{
  background-color: #def0ef;
  padding: 50px;
  align-items: center;
  justify-content: center
}
.todoItemChecked{
  color: lightslategray;
  text-decoration: line-through;
  
}
.item{
  margin-left: 10px
}
.input{
  border: 2px solid green;
}
/*header*/
.header{
  background-color: rgb(66, 51, 119);
  height: 100px;
  color: white;
}
.today{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}
.start{
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}
/*footer*/
.footer{
  background-color: rgb(66, 51, 119);
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}
.footer .social{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 40px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  
}
.social a{
  color: white;
  text-decoration: none;
  transition: 1s;
}
.social a:hover{
  color: white;
  font-size: 20px;
  text-decoration: none;
}