.main{
  background-color: #61aca8;
  padding: 50px;
  align-items: center;
  justify-content: center;
  min-height: 420px;
}
.todoItemChecked{
  color: lightslategray;
  text-decoration: line-through;
}
.item{
  margin-left: 10px
}
form{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px
}
button{
  border: 0px solid rgb(201, 212, 221);
  background-color: rgb(88, 201, 216);
  border-radius: 5px;
  margin: 10px 0;
  color: white
}
.info{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px
}
/*header*/
.header{
  background-color: rgb(66, 51, 119);
  height: 100px;
  color: white;
}
.today{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}
.start{
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}
.navLink{
  font-size: 15px;
  color: white;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  transition: 0.5s;
}
.navLink:hover{
  font-size: 17px;
  color: rgb(122, 252, 252);
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}
/*containers*/
.filmsContainer, .planetsContainer, .starshipsContainer, .speciesContainer, .vechiclesContainer{
  background-image: url("/starwars_image_bcg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
.filmCard, .starshipsCard, .speciesCard, .vechiclesCard{
  background-color: rgba(0, 0, 0, 0.397);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(143, 143, 143);
  margin: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.973);
}
/*people*/
.peopleContainer{
  background-image: url("/starwars_image_bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.peopleCard{
  background-color: rgba(0, 0, 0, 0.397);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(143, 143, 143);
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.973);
}
/*planets*/
.planetsContainer{
  background-image: url("/starwars_image_bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
}
.planetsCard{
  background-color: rgba(0, 0, 0, 0.397);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(143, 143, 143);
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.973);
}
/*marvel*/
.marvelCard{
  width: 20%;
  background-color: rgba(0, 0, 0, 0.397);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(143, 143, 143);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.973);
}
hr{
  background-color: rgb(255, 255, 255);
  width: 70%
}

/*footer*/
.footer{
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}
.footer .social{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 40px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  
}
.social a{
  color: white;
  text-decoration: none;
  transition: 1s;
}
.social a:hover{
  color: white;
  font-size: 20px;
  text-decoration: none;
}